= search_form_for @q do |form|
  .form-group.row.d-flex.align-items-center
    .col-sm-3
      = form.text_field :number_eq, placeholder: 'Number', class: 'form-control'
    .col-sm-3
      = form.text_field :name_cont, placeholder: 'Name', class: 'form-control'
    .col-sm-3
      .styled-checkbox
        = form.check_box :pr_opening_gt, { id: :pr_opening_gt }, 0, nil
        %label{:for => "pr_opening_gt"} PR Need Review
    .col-sm-3
      .styled-checkbox
        = form.check_box :pr_closed_gt, { id: :pr_closed_gt }, 0, nil
        %label{:for => "pr_closed_gt"} PR Merged
  .form-group.row.d-flex.align-items-center
    .col-sm-3
      = form.select :status_eq, [['Open', 'open'], ['Closed', 'closed']], { include_blank: 'All (By Status)'}, { class: 'custom-select form-control' }
    .col-sm-3
      = form.select :label_cont_any, github_issue_labels_options, {selected: params.dig(:q, :label_cont_any)}, { class: 'custom-select form-control select2', multiple: true,  data: { placeholder: 'All (By Label OR)' }}
    .col-sm-3
      = form.select :label_cont_all, github_issue_labels_options, {selected: params.dig(:q, :label_cont_all)}, { class: 'custom-select form-control select2', multiple: true,  data: { placeholder: 'All (By Label AND)' }}
    .col-sm-3
      = form.select :assignees_cont_any, github_issue_assignee_options, {selected: params.dig(:q, :assignees_cont_any)}, { class: 'custom-select form-control select2', multiple: true,  data: { placeholder: 'All (By Assignees)' }}
  .form-group.row.d-flex.align-items-center
    .col-sm-3
      = form.select :track_true, [['Track', true], ['Un-track', false]], { include_blank: 'All (By Track)'}, { class: 'custom-select form-control' }
    .col-sm-3
      = form.select :verified_true, [['Verified', true], ['Pending', false]], { include_blank: 'All (By Verifed)'}, { class: 'custom-select form-control' }
    .col-sm-3
      = form.select :project_column_in, github_issue_project_status_options, { include_blank: 'All (By Project Status)', selected: params.dig(:q, :project_column_in)}, { class: 'custom-select form-control' }
    .col-sm-3
      = form.select :milestone_eq, github_issue_milestones_options, { include_blank: 'All (By Milestone)', selected: params.dig(:q, :milestone_eq)}, { class: 'custom-select form-control' }
  .actions
    = form.submit 'Search', class: 'btn btn-primary'
