.row
  .col-xl-12
    .widget.has-shadow
      .dataTables_wrapper.container-fluid.dt-bootstrap4.no-footer
        .row.flex-row
          .col-xl-12
            .widget.widget-07.mb-0
              .widget-header.bordered.d-flex.align-items-center
                %h2 Actions
              .widget-body.bordered
                = render 'search_form'
                %hr
                .form-group
                  -# danger
                  -# secondary
                  -# primary
                  -# success
                  -# info
                  -# warning
                  = link_to 'All', github_issues_path, class: 'btn btn-outline-secondary mr-1', data: { turbolinks: false }
                  = link_to 'Current release (focused)', github_issues_path(default: true, focused: true), class: 'btn btn-outline-success mr-1', data: { turbolinks: false }
                  = link_to 'Current release', github_issues_path(default: true), class: 'btn btn-outline-primary mr-1', data: { turbolinks: false }
                  = link_to 'Mark ALL Verified', mark_all_verified_github_issues_path, class: 'btn btn-outline-warning mr-1', method: :post, data: { confirm: 'Are you sure?' }

.row
  .col-xl-12
    .widget.has-shadow
      .dataTables_wrapper.container-fluid.dt-bootstrap4.no-footer
        .row.flex-row
          .col-xl-12
            .widget.widget-07
              .widget-header.bordered.d-flex.align-items-center
                %h2= "Github Issues (#{@github_issues.size}/#{@github_issues.total_count})"
                .widget-options
                  .btn-group{:role => "group"}
                    = link_to 'Fetch Github Issues', fetch_github_issues_github_issues_path(total_pages: 1), class: 'btn btn-outline-success mr-1', method: :post, data: { confirm: 'Are you sure?' }
              .widget-body.bordered
                .text-right.mb-4
                  = "Latest updated at: #{Configuration.github_issue_updated_at}"
                .table-responsive.bordered
                  %table.table.mb-0
                    %thead
                      %tr
                        %th
                        %th Number
                        %th Name
                        %th Status
                        %th Project Status
                        %th Assignees
                        %th Label
                        %th Milestone
                        %th PRs
                        %th Track?
                        %th Verified?
                        %th.hide Actions
                    %tbody
                      - @github_issues.each do |github_issue|
                        %tr
                          %td
                            %span.text-primary
                              = link_to toggle_favourite_github_issue_path(github_issue), method: :post, remote: true do
                                - if github_issue.favourite
                                  %i.fa.fa-star
                                - else
                                  %i.fa.fa-star-o
                          %td
                            = link_to "##{github_issue.number}", "https://github.com/Fooder-io/Tasks/issues/#{github_issue.number}", class: "text-primary", target: '_blank'
                          %td
                            = link_to "#{github_issue.trello_name}", "https://github.com/Fooder-io/Tasks/issues/#{github_issue.number}", class: "text-primary", target: '_blank'
                          %td
                            %span.text-primary= github_issue.status
                          %td
                            %span= display_project_status(github_issue.project_column).html_safe
                          %td
                            %span.text-primary= display_assignees(github_issue.assignees)
                            .created_by= "(by #{nick_name(github_issue.created_by)})"
                          %td
                            %span.text-primary= github_issue.label
                          %td
                            %span.text-primary= github_issue.display_milestone
                          %td
                            %span.text-primary= link_to display_pull_requests(github_issue).html_safe, github_issue.pr_url.presence || "https://github.com/Fooder-io/Tasks/issues/#{github_issue.number}", class: "text-primary", target: '_blank'
                          %td
                            %span.text-primary= link_to display_boolean(github_issue.track).html_safe, toggle_track_github_issue_path(github_issue), method: :post, remote: true
                          %td
                            %span.text-primary= link_to display_boolean(github_issue.verified).html_safe, toggle_verified_github_issue_path(github_issue), method: :post, remote: true
                          %td.td-actions.hide
                            -# %a{:href => github_issue_path(github_issue)}
                            -#   %i.la.ion-eye.show{"data-content" => "Show", "data-placement" => "top", "data-toggle" => "popover", "data-trigger" => "hover"}
                            %a{:href => edit_github_issue_path(github_issue)}
                              %i.la.la-edit.edit{"data-content" => "Edit", "data-placement" => "top", "data-toggle" => "popover", "data-trigger" => "hover"}
                            %a{"data-confirm" => "Are you sure?", "data-method" => "delete", :href => github_issue_path(github_issue), :rel => "nofollow"}
                              %i.la.ion-trash-a.destroy{"data-content" => "Delete", "data-placement" => "top", "data-toggle" => "popover", "data-trigger" => "hover"}
                %br/
                .dataTables_paginate
                  = paginate @github_issues, theme: 'twitter-bootstrap-4'
