.row
  .col-xl-12
    .widget.has-shadow
      .dataTables_wrapper.container-fluid.dt-bootstrap4.no-footer
        .row.flex-row
          .col-xl-12
            .widget.widget-07.mb-0
              .widget-header.bordered.d-flex.align-items-center
                %h2 Actions
              .widget-body.bordered
                = render 'search_form'
                %hr
                .form-group
                  -# danger
                  -# secondary
                  -# primary
                  -# success
                  -# info
                  -# warning
                  = link_to 'All', github_issues_path, class: 'btn btn-outline-secondary mr-1', data: { turbolinks: false }
                  = link_to 'Current release', github_issues_path(default: true), class: 'btn btn-outline-primary mr-1', data: { turbolinks: false }
                  = link_to 'Mark ALL Verified', mark_all_verified_github_issues_path, class: 'btn btn-outline-warning mr-1', method: :post, data: { confirm: 'Are you sure?' }
                %hr
                .form-group
                  = link_to 'Current release', github_issues_path(default: true, focused: true), class: 'btn btn-outline-success mr-1', data: { turbolinks: false }
                  = link_to 'Current release (Backend)', github_issues_path(default: true, focused: true, backend: true), class: 'btn btn-outline-danger mr-1', data: { turbolinks: false }
                  = link_to 'Current release (Frontend)', github_issues_path(default: true, focused: true, web: true), class: 'btn btn-outline-info mr-1', data: { turbolinks: false }
.row
  .col-xl-12
    .widget.has-shadow
      .dataTables_wrapper.container-fluid.dt-bootstrap4.no-footer
        .row.flex-row
          .col-xl-12
            .widget.widget-07
              .widget-header.bordered.d-flex.align-items-center
                %h2= "Github Issues (#{@github_issues.size}/#{@github_issues.total_count})"
                .widget-options
                  .btn-group{:role => "group"}
                    = link_to 'Fetch Github Issues', fetch_github_issues_github_issues_path, class: 'btn btn-outline-success mr-1', method: :post, data: { confirm: 'Are you sure?' }
                    = link_to 'Fetch Project Cards', fetch_project_cards_github_issues_path, class: 'btn btn-outline-warning mr-1', method: :post, data: { confirm: 'Are you sure?' }
              .widget-body.bordered
                .text-left.mb-4
                  = "Rate Limit: #{@github_rate_limit.remaining}/#{@github_rate_limit.limit}"
                  = "- Reset in #{time_ago_in_words(@github_rate_limit.resets_at, include_seconds: true)}"
                .text-left.mb-4
                  - if Configuration.github_issues_updated_at.present?
                    = "Github Issues - Updated on #{time_ago_in_words(Configuration.github_issues_updated_at, include_seconds: true)} ago"
                .text-left.mb-4
                  - if Configuration.project_cards_updated_at.present?
                    = "Project Cards - Updated on #{time_ago_in_words(Configuration.project_cards_updated_at, include_seconds: true)} ago"
                .table-responsive.bordered
                  %table.table.mb-0
                    %thead
                      %tr
                        %th
                        %th Number
                        %th Name
                        %th Status
                        %th Project Status
                        %th Assignees
                        %th Label
                        %th Milestone
                        %th PRs
                        %th Track?
                        %th Verified?
                        %th.hide Actions
                    %tbody
                      - @github_issues.each do |github_issue|
                        = render 'issue_row', github_issue: github_issue
                %br/
                .dataTables_paginate
                  = paginate @github_issues, theme: 'twitter-bootstrap-4'
