<%= render 'shared/notice'%>
<div class="widget-body">
  <p>
    <span class="tittle-name">Number:</span>
    <%= @github_issue.number %>
  </p>
  <p>
    <span class="tittle-name">Track:</span>
    <%= display_boolean(@github_issue.track, 'Tracked', 'Untracked').html_safe %>
  </p>
  <p>
    <span class="tittle-name">Name:</span>
    <%= @github_issue.name %>
  </p>
  <p>
    <span class="tittle-name">Status:</span>
    <%= @github_issue.status %>
  </p>
  <p>
    <span class="tittle-name">Assignees:</span>
    <%= @github_issue.assignees %>
  </p>
  <p>
    <span class="tittle-name">Label:</span>
    <%= @github_issue.label %>
  </p>
  <p>
    <span class="tittle-name">Milestone:</span>
    <%= @github_issue.milestone %>
  </p>
</div>

<div class="btn-new">
  <a href="<%= edit_github_issue_path(@github_issue) %>" class="btn btn-primary mr-1 mb-2"  >
    <span class="fd-btn">Edit</span>
  </a>
</div>
<div class="btn-new">
  <a href="<%= github_issues_path %>" class="btn btn-primary mr-1 mb-2"  >
    <span class="fd-btn">Back</span>
  </a>
</div>
