<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Elisyam - Forgot Password</title>
    <meta name="description" content="Elisyam is a Web App and Admin Dashboard Template built with Bootstrap 4">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
      WebFont.load({
      google: {"families":["Montserrat:400,500,600,700","Noto+Sans:400,700"]},
      active: function() {
        sessionStorage.fonts = true;
      }
      });
    </script>
    <!-- Favicon -->
    <%= favicon_link_tag asset_path('favicon-32x32.png') %>
    <%= favicon_link_tag asset_path('favicon-16x16.png') %>
    <!-- Stylesheet -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap.min' %>
    <%= stylesheet_link_tag 'elisyam-1.5' %>
  </head>
  <body class="bg-fixed-02">
    <!-- Begin Container -->
    <div class="container-fluid h-100 overflow-y">
      <div class="row flex-row h-100">
        <div class="col-12 my-auto">
          <div class="password-form mx-auto">
            <div class="logo-centered">
              <%= image_tag "logo.png", alt: "logo"%>
            </div>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

              <div class="group material-input">
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                <span class="highlight"></span>
                <span class="bar"></span>
                <%= f.label :email %>
              </div>

              <div class="group material-input">
                <%= f.password_field :password, autocomplete: "current-password" %>
                <span class="highlight"></span>
                <span class="bar"></span>
                <%= f.label :password %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="row">
                  <div class="col text-left">
                    <div class="styled-checkbox">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  </div>
                </div>
              <% end %>

              <div class="actions button text-center">
                <%= f.submit "Log in", class: "btn btn-lg btn-gradient-01"%>
              </div>
            <% end %>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Container -->
    <!-- Begin Vendor Js -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'core' %>
    <%= javascript_pack_tag 'app' %>
    <!-- End Page Vendor Js -->
  </body>
</html>
